*{
    margin: 0;
    
}
header {
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 0px 10px 0px;
    color: white;
}
.title h2{
    padding-bottom: 10px;
}

main .content{
    text-align: center;
    background-color: bisque;
}
main .content p{
    padding: 10px 0px 20px 0px;
}
main .content .bangun-datar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.main-content {
    display: flex;
    justify-content: center;
}
aside{
    flex: 1;
}

aside p{
    display: flex;
    flex-direction: column-reverse;
}

img{
    width: 50%;
}

input{
    padding: 12px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.gambar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.samping .gambar img{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 350px;
}
.content-j{
    display: flex;
}
.form{
    flex: 1;
}
.form p{
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 0px 10px 0px;
    color: white;
}

fieldset{
    margin: 15px;
}

@media only screen and (max-width: 565px) {
    .main-content {
        flex-direction: column-reverse;
    }

    .second-main-content {
        flex-direction: column-reverse;
    }
}
/* footer{
    position: relative;
    margin-top: 35%;
    text-align: center;
} */