
header{
    text-align: center;
    background-color: cornflowerblue;
    padding: 5px 0px 10px 0px;
    color: white;
}

section .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* section .content .jajargenjang{
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
} */